header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #2e7f06;
  align-items: center;
  padding: 18px;
  height: 70px;
}

.logo {
  width: 200px;
  height: 100px;
}

.menu-superior {
  font-weight: 600;
  margin: 10px 20px 0 0;
  font-size: 10px;
}

.back-2 {
  background-image: url('../images/back.png');
  background-repeat: repeat
}

.lista {
  font-size: 18px;
  list-style-type: none;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  gap: 15px;
}

table {
  background-color: aquamarine;
  font-size: 20px;
  border-collapse: separate;

}

thead,
tbody {
  background-color: white;
}

.criarPost {
  padding: 12px;
}

.atualizarPut {
  padding: 12px;
}

.apgDelete {
  padding: 12px;
}

.rodape {
  padding-bottom: 16;
  margin-top: 16;
  width: 100vw;
  height: 90px;
  background-color: #2e7f06;
  margin-bottom: 0;
  z-index: 10;

}

.redes-sociais {
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding-top: 20px;
  gap: 30px;

}